.User {
    display: flex;
    align-items: center;

    & li > div:not([role="none"]) {
        right: 0 !important;
        left: unset;
        min-width: 160px;
    }
}

.Notifications {
    margin-right: 5px;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
        transition: opacity 0.6s ease;
    }
}
